.sidebar{
    width: 17%;
    border: 1px solid grey;
    background-color: rgba(205, 203, 203, 0.5);
    border : none;
    bottom : 100;
    position: fixed;
    top: 0;
    left: 0;
    height: 2202.64px;
}

.logo{
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 80px;
}
h3{
    font-weight: 600 ;
    font-family: "Circular-Book", Helvetica, Arial, sans-serif;
    text-align: left;
    text-rendering: optimizeLegibility;
    cursor: pointer;
    padding: 10px 10px 10px 30px;
    margin: 0;
}

h3:hover{
    background-color: white;
}

.low>h3{
   color: grey;
}